$background: #ffffff;
$accent: #007dfe;
$accent-light: #1a8cff;
$accent-dark: #0073e6;
$darkest-accent: #002d69;
$accent-text-contrast: #ffffff;
$primary-text: #333333;
$secondary-text: #999999;
$border: #cccccc;
$border-focus: #666666;
$snow: #f2f2f2;
$snow-dark: #e1e1e1;
$success: #00cc00;
$danger: #ff4d4d;
$table-line-background: #f5f8fa;
$table-head-divider: #cfdce5;
$backdrop: rgba(0, 0, 0, 0.7);
