<div class="container">
  <app-header></app-header>

  <div class="content">
    <div class="content-header">
      <h1 class="content-title">Meus Pagamentos</h1>
      <app-button (click)="addPayment()" size="small" [withIcon]="true">
        <span>Adicionar Pagamento</span>
        <i-feather name="plus"></i-feather>
      </app-button>
    </div>

    <div class="content-data">
      <div class="content-data-header">
        <form
          class="content-data-header-filters"
          (submit)="filterTasks($event)"
        >
          <app-input color="background" size="small">
            <input
              type="text"
              placeholder="Pesquisar por usuário..."
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="search"
            />

            <i-feather
              class="content-data-header-filters-search-icon"
              name="search"
              right
            ></i-feather>
          </app-input>

          <app-button type="submit" color="snow" size="small" [withIcon]="true">
            <i-feather name="sliders"></i-feather>
            <span>Filtrar</span>
          </app-button>
        </form>

        <div class="content-data-header-pagination">
          <div class="content-data-header-pagination-limiter">
            <span>Exibir:</span>
            <select [(ngModel)]="rowsPerPage" (change)="changeRowsPerPage()">
              <option
                *ngFor="let numberOfRows of rowsPerPageOptions"
                [value]="numberOfRows"
              >
                {{ numberOfRows }}
              </option>
            </select>
          </div>

          <app-pagination
            [totalOfPages]="getTotalOfPages()"
            [selectedPage]="currentPage"
            (changePage)="changePage($event)"
          ></app-pagination>
        </div>
      </div>

      <table class="content-data-table">
        <thead class="content-data-table-head">
          <tr class="content-data-table-head-row">
            <th
              class="content-data-table-head-row-col"
              *ngFor="let column of tableColumns"
            >
              <div
                [ngClass]="{
                  'content-data-table-head-row-col-text': true,
                  'col-text-center': column.centered
                }"
                (click)="setSortBy(column.key)"
              >
                <span>{{ column.label }}</span>

                <i-feather
                  *ngIf="sortBy === column.key"
                  [name]="sortOrder === 'asc' ? 'chevron-down' : 'chevron-up'"
                ></i-feather>
              </div>
            </th>

            <th></th>
          </tr>
        </thead>

        <tbody class="content-data-table-body">
          <tr class="content-data-table-body-row" *ngFor="let task of tasks">
            <td class="content-data-table-body-row-col">
              <div>{{ task.name }}</div>
              <div>@{{ task.username }}</div>
            </td>

            <td class="content-data-table-body-row-col">{{ task.title }}</td>

            <td class="content-data-table-body-row-col">
              <div>{{ task.date | date: 'd MMM y':'':'pt-BR' }}</div>
              <div>{{ task.date | date: 'shortTime':'':'pt-BR' }}</div>
            </td>

            <td class="content-data-table-body-row-col">
              R$ {{ task.value | number: '':'pt-BR' }}
            </td>

            <td class="content-data-table-body-row-col col-center">
              <i-feather
                [ngClass]="task.isPayed ? 'paid' : 'not-paid'"
                [name]="task.isPayed ? 'check-circle' : 'x-circle'"
              ></i-feather>
            </td>

            <td class="content-data-table-body-row-actions">
              <app-icon-button>
                <i-feather name="edit-2"></i-feather>
              </app-icon-button>

              <app-icon-button (click)="setTaskToDelete(task)">
                <i-feather name="trash"></i-feather>
              </app-icon-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-alert-modal
  title="Excluir Pagamento"
  [isOpen]="!!this.taskToDelete"
  (closeModal)="setTaskToDelete(undefined)"
>
  <div class="delete-payment-modal">
    <div class="delete-payment-modal-data">
      <strong>Usuário:</strong>
      <span>{{ taskToDelete?.name }}</span>
    </div>

    <div class="delete-payment-modal-data">
      <strong>Data:</strong>
      <span>{{ taskToDelete?.date | date: 'd MMM y':'':'pt-BR' }}</span>
    </div>

    <div class="delete-payment-modal-data">
      <strong>Valor:</strong>
      <span>{{ taskToDelete?.value | date: 'd MMM y':'':'pt-BR' }}</span>
    </div>

    <div class="delete-payment-modal-actions">
      <app-button
        (click)="setTaskToDelete(undefined)"
        color="snow"
        size="small"
        [withIcon]="true"
      >
        <span>Cancelar</span>
        <i-feather name="x"></i-feather>
      </app-button>

      <app-button
        (click)="deleteTask()"
        color="danger"
        size="small"
        [withIcon]="true"
      >
        <span>Excluir</span>
        <i-feather name="trash"></i-feather>
      </app-button>
    </div>
  </div>
</app-alert-modal>
