@import '../../../styles/variables.scss';

:host {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    color: $accent-text-contrast;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    height: 5.6rem;
    width: 100%;
    padding: 0 1.6rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover,
    &:focus {
      background: $accent-light;
    }
  }

  .with-icon ::ng-deep {
    padding: 0 0.8rem;

    > * {
      margin: 0 0.8rem;
    }
  }
}
