@import '../../../styles/variables.scss';

:host {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    height: 5.6rem;
    width: 100%;
    padding: 0 2.4rem;
    cursor: pointer;
    background: $snow;
    color: $primary-text;
  }

  .button-with-icon ::ng-deep {
    padding: 0 1.6rem;

    > * {
      margin: 0 0.8rem;
    }
  }

  .button-small {
    height: 4rem;
  }

  .button-accent {
    background: $accent;
    color: $accent-text-contrast;
    transition: background 0.2s ease-in-out;

    &:hover,
    &:focus {
      background: $accent-light;
    }
  }

  .button-snow {
    background: $snow;
    color: $primary-text;
    transition: background 0.2s ease-in-out;

    &:hover,
    &:focus {
      background: $snow-dark;
    }
  }

  .button-danger {
    background: $danger;
    color: white;
    transition: background 0.2s ease-in-out;

    &:hover,
    &:focus {
      background: red;
    }
  }
}
