@import '../styles/variables.scss';

.container {
  background: $snow;
  min-height: 100vh;

  .content {
    padding: 6.5rem 5%;

    .content-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      > * {
        margin: 0 0 1.6rem 0;
      }

      .content-title {
        font-size: 3.6rem;
        padding-right: 1.6rem;
      }
    }

    .content-data {
      overflow: hidden;
      border-radius: 0.8rem;
      background: $background;
      box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);

      @media only screen and (max-width: 768px) {
        overflow-x: auto;
      }

      .content-data-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem;
        min-height: 6.4rem;

        @media only screen and (max-width: 480px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .content-data-header-filters {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          > * {
            margin: 0.8rem;
          }

          .content-data-header-filters-search-icon {
            margin-right: 1.6rem;
            color: $secondary-text;
          }

          @media only screen and (max-width: 480px) {
            > * {
              width: 100%;
            }
          }
        }

        .content-data-header-pagination {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          > * {
            margin: 0.8rem;
          }

          .content-data-header-pagination-limiter {
            display: flex;
            align-items: center;

            > :first-child {
              margin-right: 0.8rem;
            }

            select {
              padding: 0.8rem 1.6rem;
              height: 4rem;
              border-radius: 0.8rem;
              border: 1px solid $border;
              outline: none;
              cursor: pointer;
              transition: border-color 0.2s ease-in-out;

              &:focus {
                border-color: $border-focus;
              }
            }
          }
        }
      }

      .content-data-table {
        width: 100%;
        border-collapse: collapse;

        .content-data-table-head {
          border-bottom: 2px solid $table-head-divider;

          .content-data-table-head-row {
            .content-data-table-head-row-col {
              padding: 0.8rem 0.6rem;

              .content-data-table-head-row-col-text {
                display: flex;
                align-items: center;
                height: 4rem;
                padding: 0.8rem 0.6rem;
                border-radius: 0.8rem;
                cursor: pointer;
                transition: background 0.2s ease-in-out;

                &:hover {
                  background: $snow;
                }

                > * {
                  margin: 0 0.4rem;
                }

                &.col-text-center {
                  justify-content: center;
                }
              }
            }
          }
        }

        .content-data-table-body {
          .content-data-table-body-row {
            &:nth-child(even) {
              background-color: $table-line-background;
            }

            .content-data-table-body-row-col,
            .content-data-table-body-row-actions {
              padding: 3.2rem 1.6rem;
            }

            .content-data-table-body-row-col {
              > *:not(:first-child) {
                color: $secondary-text;
                font-size: 1.4rem;
                margin-top: 0.4rem;
              }

              &.col-center {
                text-align: center;
              }

              .paid {
                color: $success;
              }

              .not-paid {
                color: $danger;
              }
            }

            .content-data-table-body-row-actions {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin: 0 -0.4rem;

              > * {
                margin: 0 0.4rem;
              }
            }
          }
        }
      }
    }
  }
}

.delete-payment-modal {
  padding: 1.6rem 1.6rem 0.8rem 1.6rem;

  .delete-payment-modal-data {
    margin-bottom: 0.8rem;

    > :first-child {
      margin-right: 0.8rem;
    }
  }

  .delete-payment-modal-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 -0.8rem;

    > * {
      margin: 0.8rem;

      @media only screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
